.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-count: 3;
  font-size: 0;
}
.tables-item {
  display: inline-block;
  flex-direction: column;
  width: 28%;
  height: 100%;
  vertical-align: top;
  background: aquamarine;
  margin-right: 5%;
  font-size: 14px;
  text-align: center;
}
.id {
  border: 2px solid black;
}
